<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.comeon.android.app.home.HomeActivity" />
        <activity
            android:screenOrientation="landscape"
            android:name="com.comeon.android.app.home.video.ui.activity.PlayerActivity" >
        </activity>
    </application>
</manifest>